*
!.gitignore

!/nvim/
!/nvim/**
!/cava/
!/cava/**
!/eww/
!/eww/**
!/waybar/
!/waybar/**
!/kitty/
!/kitty/**
!/prompt/
!/prompt/**
!/hypr/
!/hypr/**
!/btop/
!/btop/**
!/dunst/
!/dunst/**
!/rofi/
!/rofi/**
!/neofetch/
!/neofetch/**

