*

!.gitignore

!/.config/
!/.config/nvim/
!/.config/nvim/**
!/.config/cava/
!/.config/cava/**
!/.config/eww/
!/.config/eww/**
!/.config/waybar/
!/.config/waybar/**
!/.config/kitty/
!/.config/kitty/**
!/.config/prompt/
!/.config/prompt/**
!/.config/hypr/
!/.config/hypr/**
!/.config/btop/
!/.config/btop/**
!/.config/dunst/
!/.config/dunst/**
!/.config/rofi/
!/.config/rofi/**
!/.config/neofetch/
!/.config/neofetch/**

!.zshrc
!.zprofile
!.gitconfig
